@media only screen and (max-width: 1980px) {
  body{
    width: 100%;
  }
  #text>p{
    margin: 23px;
    text-align: center !important;
}
    
}
@media only screen and (max-width: 992px) {
    #Title {
        margin-top: 13px !important;
        margin-right: 5px !important;
        width: 98% !important;
       
    }
    #text>p{
        margin: 23px;
        text-align: center !important;
    }
}
@media only screen and (max-width: 768px){
    #text>h1{
        margin: 23px;
       }
    #text>p{
           margin: 23px;
           text-align: center !important;
       }
       
}
@media only screen and (max-width: 576px){
   img.img-title {
        margin: -4px;
        width: 121%;
        height: 206px;
        display: block;
        border-radius: 30px;
    }
    div.video>video{
        width: 100%;
        height: 300px;
    }
   
    
}
@media only screen and (max-width: 472px) { 
   #title{
    margin-left: -1rem !important;
    flex: 2 0 auto;
    width: 10.666667%;
    }  
    #img-title{
        flex: 1 0 auto;
        width: 21.666667%;
    }
    div.video>video{
        width: 100%;
        height: 260px;
    }
    #col{
        flex: 0 0 auto;
        width: 77%;
    }
    #col1{
        flex: 0 0 auto;
        width: 100%;
        margin-left: 9px !important;  
    }
    #text>h1{
     margin: 23px;
    }
    #text>p{
        margin: 23px;
        text-align: center;
       }
    #started>h1{
        font-size:21px;
    }
    #input{
        width: 188px !important;
        height: auto;
        margin-left: 20px;
    }
    #button{
        width: 175px !important;
        height: auto;
        margin-right: 20px !important;
        margin-left: -3px !important;
    }
    .col>p{
        margin: 0 !important;
        font-size: 11px;
    }
    
}
