body{
    width:100%;
}
.head{
    width: 100%;
    height: auto;
    background-image: url(/Asset/Img/Background.png) ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(136, 108, 18, 0.707); 
    background-blend-mode: darken; 
}
#logo>h3{
    font-size: 20px;
}
#Title{
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
}
.img-title{
    margin: 26px;
    width: 100%;
    height: 278px;
    display: block;
    border-radius: 30px;
}
#item-inf{
    width: 100%;
    height: auto;
    background-image: url(/Asset/Img/fondo-2.jpg) ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(54, 56, 55, 0.644);  
    background-blend-mode: darken; 
}
.item-img{
    margin: 10px;
    width: 100%;
    height: auto; 
}
#img{
    width: 97%;
    height: 225px;
    display: block;
    border-radius: 30px;
}
#started{
    margin: auto;
    margin-top: 40px;
    width: 85%;
    height: 165px;
    margin-bottom: 8px;
    background-image: url(/Asset/Img/fondo-2.jpg) ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(54, 56, 55, 0.644); 
    background-blend-mode: darken; 
}
#input{
    width:40%;
}
#button{
    width:20% ;
    border-radius: 20em;
}
#item-video{
    width: 85%;
    height: auto;
    margin: auto;
    background-image: url(/Asset/Img/fondo-2.jpg) ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(54, 56, 55, 0.644);  
    background-blend-mode: darken;  
}
.footer{
    background-color: rgb(201, 204, 203);
    height: auto;
    width: 100%;
    margin: 0;
}
#Contac{
    width: 100%;
    height: auto;
    background-color: rgb(201, 204, 203);
}